@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #e6dfdf;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: #111111;
}

nav {
    display: flex;
    justify-content: center;
    height: 80px;
    margin: 0 12px 0 12px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    font-weight: bold;
}

img {
    width: 100%;
    box-shadow: 0 0 16px 0 #fff;
    border-radius: 20px;
}

img:hover {
    box-shadow: 0 0 16px 0 #ffa115;
}

.gold {
    color: #ffa115;
}

/* Navbar */

.navbar__container {
    width: 100%;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px;
}

.logo {
    font-size: 20px;
}

.nav__links {
    justify-content: end;
    max-width: 630px;
}

.nav__link {
    padding-left: 24px;
}

/* Movies */

.search__bar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 64px;
    align-items: center;
}

input {
    height: 48px;
    width: 100%;
    font-size: 24px;
    border-radius: 16px;
    border-width: 1px;
    padding: 16px;
    color: #111111;
}

.input__button {
    background-color: #ffa115;
    font-size: 24px;
    width: 80px;
    height: 48px;
    border: none;
    border-radius: 16px;
    box-shadow: 0px 0px 12px #e6dfdf;
    margin-left: 24px;
    transition: all 500ms smooth;
}

.input__button:hover {
    background-color: #e7770e;
    cursor: pointer;
}

.movies__list {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.movie__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 128px;
}

.movie {
    padding: 16px;
    width: calc(50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movie:hover {
    transform: translateY(-5%)
}

figure {
    width: 55%;
}

.title {
    font-size: 20px;
    padding-top: 8px;
    text-align: center;
}

.year {
    font-size: 20px;
    text-align: center;
}

/* Load State */

.movies__loading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  font-size: 60px;
  color: #7342d6;
  z-index: 100;
}

.movies__loading--spinner {
display: none !important;
}

.movies__loading .movies__loading--spinner {
display: block !important;
}

.fa-spinner {
  animation: rotate 600ms infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}