@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #e6dfdf;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: #111111;
}

nav {
    display: flex;
    justify-content: center;
    height: 80px;
    margin: 0 12px 0 12px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    font-weight: bold;
}

img {
    width: 100%;
    box-shadow: 0 0 16px 0 #ffa115;
    border-radius: 20px;
}

.gold {
    color: #ffa115;
}

/* Navbar */

.navbar__container {
    width: 100%;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px;
}

.logo {
    font-size: 20px;
}

.nav__links {
    justify-content: end;
    max-width: 630px;
}

.nav__link {
    padding-left: 24px;
}

/* Home */

#home {
    display: flex;
    justify-content: center;
}

.home__container {
    max-width: 1200px;
    margin: 64px 8px 0 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home__title {
    max-width: 800px;
    font-size: 64px;
    text-align: center;
    text-transform: capitalize;
}

.home__subtitle {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 48px;
}

.search {
    padding-bottom: 24px;
    font-size: 32px;
    font-weight: bold;
}

.home__img {
    max-width: 960px;
    padding: 16px;
}